<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Home</title>
</head>

<body>
    <h1>HOME</h1>
    <h2>Welcome <%= User.name %></h2>
    <form action="/logout" method="POST">
        <button class="logout">Logout</button>
    </form>
</body>
<script src="./main.js"></script>

</html>