<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
	<link rel="shortcut icon" href="./Images/mazeicnw.png" type="image/png">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
		integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
	<link rel="stylesheet" href="./style.css">
</head>

<body style="background: url(./Images/Maze_bg.jpg) no-repeat top center fixed;background-size: cover ">
	<!--https://www.youtube.com/watch?v=mUdo6w87rh4-->
	<div class="container" id="container">
		<div class="form-container sign-up-container">
			<forme>
				<h1>Create Account</h1>
				<div class="social-container">
					<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
					<a href="#" class="social"><i class="fab fa-google"></i></a>
					<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
				</div>
				<span>or use your email for registration</span>
				<div class="simple-space">
				</div>
				<input type="text" id="input" class="User" placeholder="Username" />
				<span id="set">
					<input type="email" class="email" id="input" placeholder="Email" />
					<button id="send">Send OTP</button>
				</span>
				<span id="set2">
					<input type="number" min="0" class="otp" id="input" placeholder="Enter OTP" />
					<button id="verify">Verify OTP</button>
				</span>
				<input type="password" id="input" class="password" placeholder="Password" />
				<p id="danger"></p>
				<p id="success" style="display: none;"></p>
				<button id="sign" disabled>Sign Up</button>
			</forme>
		</div>
		<div class="form-container sign-in-container">
			<form action="/login" method="POST" class="form">
				<h1>Log In</h1>
				<div class="social-container">
					<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
					<a href="#" class="social"><i class="fab fa-google"></i></a>
					<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
				</div>
				<span>or use your account</span>
				<div class="simple-space"></div>
				<div class="input-group">
					<span><img src="https://img.icons8.com/cotton/32/000000/difficult-decision.png" alt="User"
							title="Maze-Maker" /></span>
					<input type="email" name="loginusr" id="loginusr" required>
					<label for="loginusr">Email</label>
				</div>
				<div class="input-group">
					<span><img src="./Images/maze_lock.jpg" alt="password" alt=""></span>
					<input type="password" name="loginp" id="loginp" required>
					<label for="loginp">Password</label>
				</div>
				<a href="#forp">Forgot your password?</a>
				<!-- <div class="simple-space"></div> -->
				<button id="getin">Sign In</button>
				<!-- <a href="Maze-solver.html">Sign In</a> -->
				<div class="rem">
					<input type="checkbox" name="remember">
					<t>Remember me</t>
				</div>
				<p id="problem" style="display: none;"><%= status.msg %> </p>
			</form>
		</div>
		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-left">
					<h1>Welcome Back!</h1>
					<div id="line"></div>
					<p>To keep connected with us please login with your personal info</p>
					<button class="ghost" id="signIn">Log In</button>
				</div>
				<div class="overlay-panel overlay-right">
					<h1>Hello, Solvers!</h1>
					<div id="line"></div>
					<p>Enter your details to Login in and play</p>
					<button class="ghost" id="signUp">Sign Up</button>
				</div>
			</div>
		</div>
	</div>
	<div id="forp">
		<forme class="form">
			<a href="#" class="close">&times;</a>
			<h2>Reset Password</h2>
			<div class="input-group">
				<input type="email" name="email" id="forpem">
				<label id="mail">Email</label>
				<div class="newPass">
					<input type="password" id="updatePassword">
					<label id="mail">New Password</label>
				</div>
			</div>
			<button id="forpass">Submit</button>
			<button id="uppass">Update</button>
			<p id="warning"></p>
			<p id="success2" style="display: none;"></p>
		</forme>
	</div>
	<script src="./main.js"></script>
	<!-- <script src="https://kit.fontawesome.com/a81368914c.js"></script> -->
</body>

</html>